## 模型集成

In [1]:
import pandas as pd
import numpy as np

In [2]:
x0 ="../input/sub_9577.csv"
x1 = "../input/sub_9584.csv"
x2 = "../input/sub_9547.csv"
x3 = "../input/sub_9545.csv"
x4 = "../input/sub_9541.csv"
xa = "../input/sub_9531.csv"
xb = "../input/sub_9530.csv"
x5 = "../input/meta_simplified_img_data.csv"

In [3]:
p0 = pd.read_csv(x0)
p1 = pd.read_csv(x1)
p2 = pd.read_csv(x2)
p3 = pd.read_csv(x3)
p4 = pd.read_csv(x4)
pa = pd.read_csv(xa)
pb = pd.read_csv(xb)
p5 = pd.read_csv(x5)

In [4]:
p1.head()

     image_name    target
0  ISIC_0052060  0.012659
1  ISIC_0052349  0.036193
2  ISIC_0058510  0.023916
3  ISIC_0073313  0.017722
4  ISIC_0073502  0.011914

In [5]:
p2.head()

     image_name    target
0  ISIC_0052060  0.014178
1  ISIC_0052349  0.037046
2  ISIC_0058510  0.021212
3  ISIC_0073313  0.017413
4  ISIC_0073502  0.013629

In [6]:
p3.head()

     image_name    target
0  ISIC_0052060  0.015552
1  ISIC_0052349  0.041321
2  ISIC_0058510  0.020851
3  ISIC_0073313  0.020375
4  ISIC_0073502  0.018267

In [7]:
p4.head()

     image_name    target
0  ISIC_0052060  0.020073
1  ISIC_0052349  0.029963
2  ISIC_0058510  0.024964
3  ISIC_0073313  0.020964
4  ISIC_0073502  0.018351

In [8]:
p6 = p1.copy()

In [9]:
p6['target'] = p0['target'] * 0.35 + p1['target'] * 0.25 + p2['target'] * 0.1 + p3['target'] * 0.1 + p4['target'] * 0.1 + p5['target'] * 0.1 + pa['target'] * 0 +  pb['target'] * 0

In [10]:
p6.to_csv("sub5.csv",index=False)

In [11]:
p7 = pd.read_csv("../input/sub_9648.csv")

In [12]:
p6['target'] = 0.5 * p6['target'] + 0.5 * p7['target']

In [13]:
p6.to_csv("submission.csv",index=False)

In [14]:
p6.head()

     image_name    target
0  ISIC_0052060  0.021431
1  ISIC_0052349  0.023017
2  ISIC_0058510  0.023563
3  ISIC_0073313  0.019799
4  ISIC_0073502  0.017803

In [15]:
p8 = pd.read_csv("simple_mean.csv")

In [16]:
p8['target']  = 0.28* p6['target'] + 0.72* p8['target']

In [17]:
p8.to_csv("sub_final.csv",index=False)

In [18]:
p8.head()

     image_name    target
0  ISIC_0052060  0.311810
1  ISIC_0052349  0.086942
2  ISIC_0058510  0.279187
3  ISIC_0073313  0.177385
4  ISIC_0073502  0.238348

In [19]:
p9 = p8.copy()